<<<<<<< HEAD
* {
    margin: 0;
}
ol, ul {
 list-style:none;
 margin:;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background: transparent;
 text-decoration: none;
 color: black;
=======
* {
    margin: 0;
}
ol, ul {
 list-style:none;
 margin:;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background: transparent;
 text-decoration: none;
 color: black;
>>>>>>> 268d0a80cc84e990876ebd7ec57cbbf4e1eceea8
}